function Unknown.unknown 0
// let statement - unsupported format
// let statement - unsupported format
// let statement - unsupported format
label WHILE_EXP0
// Unhandled term
// Unhandled term
not
if-goto WHILE_END1
// let statement - unsupported format
// let statement - unsupported format
goto WHILE_EXP0
label WHILE_END1
// let statement - unsupported format
// let statement - unsupported format
label WHILE_EXP2
// Unhandled term
// Unhandled term
not
if-goto WHILE_END3
// let statement - unsupported format
// let statement - unsupported format
goto WHILE_EXP2
label WHILE_END3
// do statement - unsupported format
pop temp 0
// do statement - unsupported format
pop temp 0
// do statement - unsupported format
pop temp 0
// return statement - unsupported format
return
